aiohttp==3.4.4
amqp==2.3.2
asn1crypto==0.24.0
async-generator==1.10
async-timeout==3.0.1
attrs==18.2.0
Automat==0.7.0
Babel==2.6.0
beautifulsoup4==4.6.3
billiard==3.5.0.4
celery==4.2.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
constantly==15.1.0
construct==2.5.3
cryptography==2.4.2
cssselect==1.0.3
Django==2.1
django-haystack==2.8.1
Flask==1.0.2
flower==0.9.2
future==0.17.1
haystack==0.42
hyperlink==18.0.0
idna==2.7
idna-ssl==1.1.0
incremental==17.5.0
itsdangerous==1.1.0
jieba==0.39
Jinja2==2.10
kombu==4.2.1
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.1.0
multidict==4.5.2
numpy==1.15.4
parsel==1.5.1
pefile==2018.8.8
pyaes==1.6.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pymongo==3.7.2
PyMySQL==0.9.2
pyOpenSSL==18.0.0
pyquery==1.4.0
PySocks==1.6.8
python-ptrace==0.9.3
pytz==2018.7
pywin32==220
queuelib==1.5.0
rabbitmq==0.2.0
redis==3.0.1
requests==2.21.0
rsa==4.0
Scrapy==1.5.1
scrapy-splash==0.7.2
selenium==3.141.0
service-identity==17.0.0
SimpleHTTPSServer==0.6.98
six==1.11.0
Telethon==1.3
tornado==5.1.1
Twisted==18.9.0
urllib3==1.24.1
vboxapi==1.0
vine==1.1.4
w3lib==1.19.0
Werkzeug==0.14.1
Whoosh==2.7.4
yarl==1.2.6
zope.interface==4.6.0
